<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button left menuToggle menuToggle="left" >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title mode="ios">
            <span *ngIf="ready_only == false">Holds</span>
             <span *ngIf="ready_only == true">Holds Ready for Pickup</span>
        </ion-title>
        <button ion-button right menuToggle menuToggle="right">
            <ion-icon name="contact"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let hold of this.processed_holds">
        <ion-card-header><strong>{{hold['title']}}</strong></ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="{{globals.coverURLLg}}{{hold['record_id']}}"/>
                </ion-col>
                <ion-col col-9>
                    <p><strong>{{hold['author']}}</strong></p>
                    <p *ngIf="hold.hold_status != ''">Position {{hold['queue_state'][0]}} in queue with {{hold['queue_state'][1]}} eligible cop<span *ngIf="hold.queue_state[1] > 1">ies</span><span *ngIf="hold.queue_state[1] == 1">y</span></p>
                    <p *ngIf="globals.multi_location==true">Pickup location: {{hold['pickup_location']}}</p>
                    <p *ngIf="hold.hold_status != ''">Hold status: 
                        <span *ngIf="hold.hold_status == 'Suspended'"><strong ion-text color="danger">{{hold.hold_status}}</strong></span>
                        <span *ngIf="hold.hold_status == 'Active'"><strong ion-text color="green">{{hold.hold_status}}<span *ngIf="hold.queue_status != ''"> - <strong ion-text color="primary">{{hold.queue_status}}</strong></span></strong></span>
                    </p>
                    <ion-item *ngIf="globals.multi_location==true && !hold.queue_status.startsWith('Ready')">
                        <ion-select class="full_width_select" interface="popover" placeholder="Change Pickup" (ionChange)="user.change_hold_pickup(hold.hold_id, hold.hold_status, $event)">
                            <ion-option *ngFor="let loc of globals.pickup_locations" [value]="loc.code">
                                {{loc.name}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4>
                    <button *ngIf="hold.hold_status == 'Suspended'" ion-button block (tap)="user.activate_hold(hold.hold_id)">Activate</button>
                    <button *ngIf="hold.hold_status != 'Suspended' && !hold.queue_status.startsWith('Ready')" ion-button block (tap)="user.suspend_hold(hold.hold_id)">Suspend</button>
                </ion-col>
                <ion-col col-4>
                    <button ion-button block (tap)='item.details(hold["record_id"])'>Details</button>
                </ion-col>
                <ion-col col-4>
                    <button ion-button block (tap)="this.cancelHold(hold.hold_id, hold.title)">Cancel</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>
