<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button left menuToggle menuToggle="left" >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title mode="ios">{{globals.appName}}</ion-title>
        <button ion-button right menuToggle menuToggle="right">
            <ion-icon name="contact"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row *ngIf="!user.logged_in">
            <div class="home-image" col-sm-12>
                <img alt="Logo" [src]="globals.logoURL" />
            </div>
        </ion-row>
        <ion-row *ngIf="user.logged_in" no-padding no-margin>
            <ion-col col-sm-12 no-padding no-margin>
                <ion-list no-padding no-margin>
                    <ion-item no-padding no-margin>
                        <ion-thumbnail item-start><img [src]="globals.squareLogoURL"/></ion-thumbnail>
                        <h2 *ngIf="user.ils_username">Hello, {{user.ils_username}}!</h2>
                        <p *ngIf="user.checkout_count > 0 || user.holds_count > 0 || user.fines != 0.00" text-wrap>
                            You have<span *ngIf="user.checkout_count > 0"> {{user.checkout_count}} item<span *ngIf="user.checkout_count != 1">s</span> checked out</span><span *ngIf="user.holds_count == 0 && user.fines == 0.00">.</span><span *ngIf="user.checkout_count > 0 && user.holds_count > 0">,</span><span *ngIf="user.holds_count > 0"> {{user.holds_count}} item<span *ngIf="user.holds_count != 1">s</span> on hold<span *ngIf="user.holds_ready > 0"> ({{user.holds_ready}} ready for pickup!)</span><span *ngIf="user.holds_ready == 0 && user.fines == 0.00">.</span><span *ngIf="user.fines != 0.00"><span *ngIf="user.checkout_count > 0 || user.holds_count > 0"> and</span> {{user.fines}} in fines.</span></span>
                        </p>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-sm-12>
                <form (ngSubmit)="this.nav.push(searchPage, {query: this.query}, {animate:false});this.advanced=0;" block>
                    <ion-item col-sm-12>
                        <ion-label floating>Search for Books, Movies, Music...</ion-label>
                        <ion-input autocapitalize="off" autocorrect="off" type="text" [(ngModel)]="this.query" name="query"></ion-input>
                    </ion-item>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <button col-lg-2 col-md-4 col-sm-4 ion-button icon-left block (tap)="this.nav.push(searchPage, {advanced: true}, {animate:false})">
                <ion-icon name="search"></ion-icon>  
                Advanced Search
            </button>
            <button col-lg-2 col-md-4 col-sm-4 ion-button icon-left block (tap)="this.nav.push(infoPage, {}, {animate:false})">
                <ion-icon name="compass"></ion-icon>  
                Location<span *ngIf="globals.multi_location == true">s</span>
            </button>
            <button col-lg-2 col-md-4 col-sm-4 ion-button icon-left block menuToggle="right">
                <ion-icon name="contact"></ion-icon>  
                My Account
            </button>
            <button col-lg-2 col-md-4 col-sm-4 ion-button icon-left block (tap)="this.nav.push(eventsPage, {}, {animate:false})">
                <ion-icon name="md-calendar"></ion-icon>  
                Events
            </button>
            <button col-lg-2 col-md-4 col-sm-4 ion-button icon-left block (tap)="this.nav.push(newsPage, {}, {animate:false})">
                <ion-icon name="megaphone"></ion-icon>
                News
            </button>
            <button col-lg-2 col-md-4 col-sm-4 ion-button icon-left block (tap)="this.nav.push(featuredPage, {}, {animate:false})">
                <ion-icon name="star"></ion-icon>  
                New Items
            </button>
        </ion-row>
    </ion-grid>
</ion-content>
