<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button left menuToggle menuToggle="left" >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title mode="ios">New/Featured Items</ion-title>
        <button ion-button right menuToggle menuToggle="right">
            <ion-icon name="contact"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list class="accordion-list">
        <ion-list-header *ngFor="let section of items; let i = index" no-lines no-padding>
            <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': section.open, 'section': !section.open}">
                <ion-icon item-left name="arrow-forward" *ngIf="!section.open"></ion-icon>
                <ion-icon item-left name="arrow-down" *ngIf="section.open"></ion-icon>
                {{ section.fancy_title }}
            </button>

            <ion-list *ngIf="section.open">
                <ion-item-sliding *ngFor="let subitem of section.items">
                    <ion-item (tap)="item.details(subitem.id)">
                        <ion-thumbnail item-start>
                            <img src="https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/{{subitem.id}}"/>
                        </ion-thumbnail>
                        <h2 *ngIf="subitem.title">{{subitem.title}}</h2>
                        <h4 *ngIf="subitem.author">{{subitem.author}}</h4>
                        <p *ngIf="subitem.electronic != true">{{subitem.loc_copies_available}} available<span *ngIf="subitem.call_number"> • {{subitem.call_number}}</span></p>
                        <p>({{subitem.format_type}})</p>
                    </ion-item>
                    <ion-item-options>
                        <button ion-button (click)="item.details(subitem.id)">Details</button>
                        <button ion-button color="secondary" *ngIf="this.user.logged_in && subitem.electronic != true" (click)="user.place_hold(subitem.id)">Place<br/>Hold</button>
                        <button ion-button color="secondary" *ngIf="!this.user.logged_in && subitem.electronic != true" menuToggle menuToggle="right">Log In</button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </ion-list-header>
    </ion-list>
</ion-content>
