page-featured {

    .accordion-list {
        height: 100%;
    }
    .section {
        background: #fff;
        color: #000;
    }
    .section-active {
        background: map-get($colors, primary);
        color: #fff;
    }

    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }

}
