<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button left menuToggle menuToggle="left" >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title mode="ios">{{globals.systemShortName}} News</ion-title>
        <button ion-button right menuToggle menuToggle="right">
            <ion-icon name="contact"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <button ion-item *ngFor="let post of this.posts" (tap)="itemTapped($event, post)">
            <ion-thumbnail item-start *ngIf="post.featured_image_urls.thumbnail">
                <img src="{{post.featured_image_urls.thumbnail}}" />
            </ion-thumbnail>
            <h2 [innerHTML]="post.title.rendered"></h2>
            <p [innerHTML]="post.excerpt.rendered"></p>
            <p>Posted {{globals.fixDate(post.date, 1)}}</p>
        </button>
    </ion-list>

    <ion-infinite-scroll *ngIf="!isLastPageReached()" (ionInfinite)="loadMore($event)" threshold="200px">
        <ion-infinite-scroll-content loadingText="Loading more news...">
            Keep scrolling to load more
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
