<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button left menuToggle menuToggle="left" >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title mode="ios">Search Catalog</ion-title>
    <button ion-button right menuToggle menuToggle="right">
      <ion-icon name="contact"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<p> I will be a search someday </p>
	<p *ngIf="advanced">
		I am advanced
	</p>
	<p *ngIf="query">
		You searched for {{query}}
	</p>
	<ion-list>
		<ion-item-sliding *ngFor="let result of this.results">
            <ion-item>
                <ion-thumbnail item-start>
                    <img (click)="item.details(result.id)" src="https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/{{result.id}}"/>
                </ion-thumbnail>
                <h2 *ngIf="result.title">{{result.title}}</h2>
                <h4 *ngIf="result.author">{{result.author}}</h4>
                <p>{{result.loc_copies_available}} available<span *ngIf="result.call_number"> • {{result.call_number}}</span></p>
            </ion-item>
            <ion-item-options>
                <button ion-button (click)="item.details(result.id)">Details</button>
                <button ion-button color="secondary">Place Hold</button>
            </ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>
