<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button left menuToggle menuToggle="left" >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title mode="ios">Search Catalog</ion-title>
        <button ion-button right menuToggle menuToggle="right">
            <ion-icon name="contact"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item no-lines *ngIf="this.query" col-sm-12>
        <button ion-button block (click)="this.query='';this.results=[];">Reset</button>
    </ion-item>
    <form (ngSubmit)="get_results()" block>
        <ion-item col-sm-12>
            <ion-input autocapitalize="off" autocorrect="off" type="text" placeholder="Search" [(ngModel)]="this.query" name="query"></ion-input>
            <button ion-button item-end type="submit">Search</button>
        </ion-item>
        <ion-item-divider>
            <ion-toggle item-start [(ngModel)]="this.advanced" name="advanced"></ion-toggle>
            <p item-content>ADVANCED OPTIONS</p>
        </ion-item-divider>
        <div *ngIf="advanced">
            <ion-item>
                <ion-label>Search Type</ion-label>
                <ion-select [(ngModel)]="this.qtype" name="qtype" interface="popover" (ngModelChange)="get_results()">
                    <ion-option value="keyword">Keyword</ion-option>
                    <ion-option value="author">Author / Group / Actor</ion-option>
                    <ion-option value="title">Title</ion-option>
                    <ion-option value="subject">Subject</ion-option>
                    <ion-option value="series">Series</ion-option>
                    <ion-option value="single_genre">Genre</ion-option>
                    <ion-option value="call_number">Call Number</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Format</ion-label>
                <ion-select [(ngModel)]="this.format" name="format" interface="popover" (ngModelChange)="get_results()">
                    <ion-option *ngFor="let format of globals.searchFormats" [value]="format.code">{{format.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="globals.multi_location == true">
                <ion-label>Location</ion-label>
                <ion-select [(ngModel)]="this.location" name="location" interface="popover" (ngModelChange)="get_results()">
                    <ion-option [value]="globals.allLocationsValue">All Locations</ion-option>
                    <ion-option *ngFor="let location of globals.pickup_locations" [value]="location.code">{{location.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Limit to available items</ion-label>
                <ion-toggle [(ngModel)]="this.available" name="available" (ngModelChange)="get_results()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Limit to physical items</ion-label>
                <ion-toggle [(ngModel)]="this.physical" name="available" (ngModelChange)="get_results()"></ion-toggle>
            </ion-item>
        </div>
    </form>

    <ion-item-divider *ngIf="query">
        Results for <strong>{{query}}</strong>
    </ion-item-divider>
    <ion-list>
        <ion-item-sliding *ngFor="let result of this.results">
            <ion-item (tap)="item.details(result.id)">
                <ion-thumbnail item-start>
                    <img [src]="globals.coverURLSm + result.id"/>
                </ion-thumbnail>
                <h2 *ngIf="result.title">{{result.title}}</h2>
                <h4 *ngIf="result.author">{{result.author}}</h4>
                <p *ngIf="result.electronic != true"><ion-icon [name]="this.globals.itemType.get(result['format_type'])"></ion-icon> &bull; {{result.loc_copies_available}} available<span *ngIf="result.call_number"> &bull; {{result.call_number}}</span></p>
                <p *ngIf="result.electronic == true"><ion-icon [name]="this.globals.itemType.get(result['format_type'])"></ion-icon> &bull; Electronic resource from {{result.source}}</p>
            </ion-item>
            <ion-item-options>
                <button ion-button (tap)="item.details(result.id)">Details</button>
                <button ion-button color="secondary" *ngIf="result.electronic == true" (tap)="openWebpage(result.eresource)">View<br/>Resource</button>
                <button ion-button color="secondary" *ngIf="this.user.logged_in && result.electronic != true" (tap)="user.place_hold(result.id)">Place<br/>Hold</button>
                <button ion-button color="secondary" *ngIf="!this.user.logged_in && result.electronic != true" menuToggle menuToggle="right">Login<br/>to Hold</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="this.get_more_results($event)" threshold="200px">
        <div *ngIf="this.results != '' && this.more_results == true && this.loading == false" text-center>Keep scrolling to load more</div>
        <ion-infinite-scroll-content loadingText="Loading more results..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
