<ion-header>
    <ion-navbar>
        <ion-title mode="ios">Password Reset</ion-title>
        <ion-buttons end>
            <button ion-button clear right (click)="close_modal()">
                <ion-icon name="md-close"> </ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
	<div *ngIf="this.reset_sent == false">
		<ion-row>
			<p>You are requesting that your library account password be reset. After you submit this request, we will email you a link that you can use to set a new password for your account.</p>
			<p>In order for this to be successful, you must provide either a valid library card number or a valid library username, and we must have a valid email address on file for your account.</p>
		</ion-row>
		<ion-row>
			<ion-list inset>
    	        <ion-item>
    	            <ion-input id="username" autocapitalize="off" autocorrect="off" type="text" placeholder="Username or Card Number" name="username" [(ngModel)]="this.username" required></ion-input>
    	        </ion-item>
    	    </ion-list>
		</ion-row>
		<ion-row>
    		<button ion-button class="submit-btn" block  (click)="this.reset_password()">Submit</button>
    		<button ion-button class="submit-btn" block color="danger" (click)="close_modal()">Cancel</button>
    	</ion-row>
    </div> 
    <div *ngIf="this.reset_sent == true">
    	<p>Password reset request was received. Please check your e-mail for further instructions.<p>
    	<button ion-button class="submit-btn" block color="danger" (click)="close_modal()">OK</button>
    </div>
</ion-content>
