<ion-header>
    <ion-navbar>
        <ion-title mode="ios">Password Reset</ion-title>
        <ion-buttons end>
            <button ion-button clear right (click)="close_modal()">
                <ion-icon name="md-close"> </ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngIf="this.temp != true">
        <div *ngIf="this.reset_sent == false">
            <ion-row>
            <p>You are requesting that your library account password be reset. After you submit this request, we will email you a link that you can use to set a new password for your account.</p>
            <p>In order for this to be successful, you must provide either a valid library card number or a valid library username, and we must have a valid email address on file for your account.</p>
            </ion-row>
            <ion-row>
                <ion-list inset>
                    <ion-item>
                        <ion-input id="username" autocapitalize="off" autocorrect="off" type="text" placeholder="Username or Card Number" name="username" [(ngModel)]="this.username" required></ion-input>
                    </ion-item>
                </ion-list>
            </ion-row>
            <ion-row>
                <button ion-button class="submit-btn" block (click)="this.reset_password()">Submit</button>
                <button ion-button class="submit-btn" block color="danger" (click)="close_modal()">Cancel</button>
            </ion-row>
        </div>
        <div *ngIf="this.reset_sent == true">
            <p>Password reset request was received. Please check your e-mail for further instructions.</p>
            <button ion-button class="submit-btn" block color="danger" (click)="close_modal()">OK</button>
        </div>
    </div>
    <div *ngIf="this.temp == true && password_success == false">
        <p>It looks like you are using a temporary password. Please use the form below to set a new password</p>
        <p><i>Note: The password must be at least 7 characters in length, contain at least one letter (a-z/A-Z), and contain at least one number.</i></p>
        <form>
            <ion-row>
                    <ion-col>
                        <ion-list inset>
                            <ion-item>
                                <ion-input type="password" placeholder="Enter new password" name="new_password_1" [(ngModel)]="new_password_1" (ngModelChange)="this.validate_new_password($event)" required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input type="password" placeholder="Enter new password again" name="new_password_2" [(ngModel)]="new_password_2"
                                (ngModelChange)="this.validate_new_password($event)" required></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
            </ion-row>
            <ion-row *ngIf="password_error">
                <ion-col>
                    <span class="warning">{{password_error}}</span>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="this.valid_password">
                <ion-col>
                   <button ion-button class="register-btn" block clear (click)="save_new_password()">Save New Password</button>
                </ion-col>
            </ion-row>      
        </form>
    </div>
    <div *ngIf="this.temp == true && password_success == true">
        <p>Your password has been successfully reset</p>
        <button ion-button class="submit-btn" block clear (click)="close_modal()">OK</button>
    </div>
</ion-content>
