<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button left menuToggle menuToggle="left" >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title mode="ios">{{globals.systemShortName}} Events</ion-title>
        <button ion-button right menuToggle menuToggle="right">
            <ion-icon name="contact"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label>Location</ion-label>
            <ion-select [(ngModel)]="location" interface="popover" (ionChange)="venueEvents(location)">
                <ion-option value="">All Locations</ion-option>
                <ion-option *ngFor="let venue of globals.eventVenues" [value]="venue.venue">{{venue.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngFor="let event of this.events" (click)="itemTapped($event, event)">
            <ion-thumbnail item-start *ngIf="event.image">
                <img src="{{event.image.sizes.thumbnail.url}}" />
            </ion-thumbnail>
            <h2 [innerHTML]="event.title"></h2>
            <h4 [innerHTML]="globals.fixDate(event.start_date)"></h4>
            <p *ngIf="event.venue">{{event.venue.venue}}</p>
        </ion-item>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab color="light" (click)="scrollToTop()"><ion-icon name="arrow-up"></ion-icon></button>
    </ion-fab>

    <ion-infinite-scroll *ngIf="!isLastPageReached()" (ionInfinite)="loadMore($event)" threshold="0px">
        <ion-infinite-scroll-content loadingText="Loading more events...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
