<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button left menuToggle menuToggle="left" >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title mode="ios">{{globals.systemShortName}} Events</ion-title>
        <button ion-button right menuToggle menuToggle="right">
            <ion-icon name="contact"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngIf="globals.multi_location == true">
            <ion-label>Location</ion-label>
            <ion-select [(ngModel)]="location" interface="popover" (ionChange)="venueEvents(location)">
                <ion-option value="">All Locations</ion-option>
                <ion-option *ngFor="let venue of globals.eventVenues" [value]="venue.venue">{{venue.name}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-item *ngFor="let event of this.events" (tap)="itemTapped($event, event)">
            <ion-thumbnail item-start *ngIf="event.image && event.image.extension != 'pdf'">
                <img src="{{event.image.sizes.thumbnail.url}}" />
            </ion-thumbnail>
            <h2 [innerHTML]="event.title"></h2>
            <h4 [innerHTML]="globals.fixDate(event.start_date)"></h4>
            <p *ngIf="event.venue">{{event.venue.venue}}</p>
        </button>
    </ion-list>

    <ion-infinite-scroll *ngIf="!isLastPageReached()" (ionInfinite)="loadMore($event)" threshold="200px">
        <div *ngIf="this.events != '' && this.lastPageReached == false && this.loading == false" text-center>Keep scrolling to load more</div>
        <ion-infinite-scroll-content loadingText="Loading more events...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
