<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button left menuToggle menuToggle="left" >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title mode="ios">Search Catalog</ion-title>
    <button ion-button right menuToggle menuToggle="right">
      <ion-icon name="contact"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item col-sm-12>
    </ion-item>
	<ion-list>
		<ion-item *ngFor="let event of this.events">
            <ion-item>
                <ion-thumbnail item-start *ngIf="event.image">
                    <img src="{{event.image.sizes.thumbnail.url}}"/>
                </ion-thumbnail>
                <h2>{{event.title}}</h2>
                <h4>{{event.start_date}}</h4>
                <p>{{event.venue.venue}})</p>
            </ion-item>
		</ion-item>
	</ion-list>
</ion-content>
